@use '/src/scss/index.scss' as *;

.intro__background-image-wrapper {
    position: absolute;
    width: 104%;
    height: 100%;
    left: -2%;

    overflow: hidden;
    
    & img {
        position: absolute;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;

        object-fit: cover;
        object-position: center;

        background-position: center;

        &.fore-cloud_background-image {
            min-width: 0;
            min-height: 0;

            height: 50%;
            width: 100%;

            position: absolute;
            bottom: -5%;
            right: 0;

            background-position: right bottom;
            background-size: contain;

            object-fit: contain;
            object-position: right bottom;
        }
    }
}

.left-cloud_background-image, .right-cloud_background-image {
    -webkit-animation: clouds 14s linear infinite;
    animation: clouds 14s linear infinite;
}

.left-cloud_background-image {
    -webkit-animation-direction: alternate-reverse;
    animation-direction: alternate-reverse;
}

.right-cloud_background-image {
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.fore-cloud_background-image {
    -webkit-animation: clouds 7s linear infinite reverse;
    animation: clouds 7s linear infinite reverse;
}