@use '/src/scss/index.scss' as *;

.intro__border {
    position: absolute;
    top: calc(var(--index) * -9.7);

    width: 100%;
    height: calc(var(--index) * 10);

    fill: none;

    pointer-events: none;

    >path { fill: var(--main-color_light); }

    @include narrow_screen {
        height: 75px;
        top: -74px;
    }
}