.gallery__content {
    height: 100%;
    width: 100%;

    gap: 10px;

    max-width: 1380px;
    min-width: 280px;

    display: grid;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 396px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 768px) and (min-width: 397px) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (min-width: 769px) {
        grid-template-columns: repeat(4, 1fr);
        width: 90%;
    }
}

.gallery__image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7px;
}

.gallery__image {
    width: 380px;
    height: auto;
    border-radius: 10px;
}