@use '/src/scss/index.scss' as *;

.intro__gallery {
    $desktop_padding: 0 30px;
    $desktop_min-height: 330px;
    $desktop-narrow_min-height: 260px;
    $phone_padding: 0 24px;

    display: flex;
    flex-flow: column;

    position: absolute;
    top: 0;

    width: 100%;
    height: 100%;

    >h2 { @extend %hero-sub-title_font; user-select: none; }

    @include phone_width {
        align-items: flex-end;

        padding: $phone_padding;

        >h2 { width: 30px; }
    }

    @include desktop_width {
        align-items: center;
        justify-content: flex-end;
        
        padding: $desktop_padding;
        min-height: $desktop_min-height;

        color: var(--additional-color_light);

        @include narrow_screen { min-height: $desktop-narrow_min-height; }

        >h2 { 
            position: relative; 

            margin: 4px 0;
            padding-left: 16px;
            
            &::after {
                content: '';
                position: absolute;
                display: block;
                width: 170px;
                height: 1px;
                background-color: currentColor;
                top: -16px;
                left: 13%;
            }
        }
    }
}

.intro-gallery_icon-wrapper {
    $desktop_margin: 8px 0;
    $phone_padding: 60px 0 40px 0;
    $phone-narrow_padding: 30px 0 20px;
    $pseudo_top: 10px;
    $pseudo_height: 30px;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    color: currentColor;

    &::after, &::before {
        content: '';
        display: block;
        background-color: currentColor;
    }

    >svg {
        width: 28px;
        >path { fill: currentColor; }
    }

    @include phone_width {
        padding: $phone_padding; 

        &::after, &::before {
            position: absolute;
            width: 1px;
        }

        &::after { 
            top: $pseudo_top; 
            height: $pseudo_height; 
        }

        &::before { 
            bottom: 0; 
            height: $pseudo_height; 
        }

        @include narrow_screen {
            padding: $phone-narrow_padding;
            
            &::after { 
                top: calc($pseudo_top / 2); 
                height: calc($pseudo_height / 2); 
            }

            &::before { 
                bottom: 0; 
                height: calc($pseudo_height / 2); 
            }
        }
    }

    @include desktop_width {
        width: 210px;

        margin: $desktop_margin;

        &::after, &::before {
            position: relative;
            flex-grow: 1;
            margin: 0 12px;
            height: 1px;
        }
    }
}

.gallery_route-link-wrapper {
    $margin: 14px;

    display: flex;
    justify-content: center;
    align-items: center;

    @include phone_width {
        position: relative;
        width: 100%;

        &::before, &::after {
            content: '';
            display: block;
            flex-grow: 1;
            margin: $margin;
        }
    
        &::after { 
            background-color: 
            currentColor; height: 1px;
        }
    }

    @include desktop_width {
        margin-top: $margin;
        width: 50%;
        align-self: center;
    }

    @include narrow_screen { margin-top: 8px; }
}

.gallery_route-link {
    $size: 50px;
    $transition: var(--transition);
    $light-blue-color: #0084ff50;

    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;

    position: relative;

    width: $size;
    height: $size;
    min-height: $size;

    border: 1px solid;
    border-radius: 50%;

    color: currentColor;

    overflow: hidden;

    transition: $transition;

    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: currentColor;
        clip-path: circle(0 at center);
    }

    >svg {
        width: 60%;
        fill: none;
        transition: transform $transition;

        >path { fill: currentColor; }
    }

    &:active { &::after { clip-path: circle(100% at center);} }

    @include phone_width { background-color: $light-blue-color; }

    @include desktop_hover {
        color: var(--main-color_light);

        background-color: $light-blue-color;

        >svg { transform: rotateZ(360deg); } 
    }
}