@use '/src/scss/index.scss' as *;

.gallery__header {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;

    &.header_show {
        border-bottom: 1px solid var(--additional-color_light);

        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);

        background-image: url('/assets/gallery/header.png');

        background-position: center;

        background-size: contain;
        background-repeat: repeat-x;

        @media screen and (max-width: 1512px) {
            background-size: cover;
            background-repeat: no-repeat;
        }

        >.gallery__back-button {
            margin: 7.5px 18px;
        }
    }
}

.gallery__back-button {
    $size: 35px;

    width: $size;
    height: $size;

    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    
    top: 0;
    left: 0;

    margin: 18px 18px;

    transition: var(--transition);

    color: var(--additional-color_light);
}

.back-button__water-svg {
    width: 100%;
    height: 100%;
    z-index: 2;

    color: currentColor;
    
    border-radius: 50%;
    border: 1px solid currentColor;

    padding: 4px;

    transition: var(--transition);

    >path { fill: currentColor; }

    @include desktop_hover {
        background-color: var(--additional-color_light);
        color: var(--main-color_light);
    }
}

.back-button__title {
    position: absolute;

    color: currentColor;

    cursor: default;

    @include phone-width {
        font-size: 18px;
        left: 120%;
    }

    @include desktop-width {
        font-size: 20px;
        left: 140%;
    }

    @extend %text;
}