@use '/src/scss/index.scss' as *;

.gallrey-navigation {
    position: relative;
    
    z-index: 2;

    background-color: transparent;

    height: fit-content;

    @include desktop_width {
        mask: linear-gradient(90deg, transparent, white 15%, white 85%, transparent);
        -webkit-mask: linear-gradient(90deg, transparent, white 15%, white 85%, transparent);
    }

    @include phone_width {

    }
}

.navigation__list {
    display: flex;
    align-items: center;

    padding: 8px;

    transition: var(--transition);

    @include phone_width {
        width: 80vw;
        height: fit-content;
        max-height: 50vh;

        flex-direction: column;

        overflow-y: auto;
        overflow-x: hidden;
    }

    @include desktop_width {
        max-width: 40vw;
        width: 600px;
        height: 50vh;
        max-height: 600px;

        justify-content: center;

        overflow: hidden;
    }
}

.show-all-button {
    $size: 50px;

    width: $size;
    height: $size;

    position: fixed;

    color: var(--main-color_light);
    border: 2px solid;

    @include phone_width {
        top: 10px;
        left: 10px;
    }

    @include desktop_width {
        top: 20px;
        left: 20px;
    }
}