@use '/src/scss/index.scss' as *;

.gallrey-navigation {
    position: relative;
    
    z-index: 2;

    background-color: transparent;

    height: fit-content;

    @include desktop_width {
        width: 400px;
    }

    @include phone_width {
        -webkit-maks: linear-gradient(transparent, white 5%, white 95%, transparent);
        mask: linear-gradient(transparent, white 5%, white 95%, transparent);
    }
}

.gallrey-navigation_wide {
    @include desktop_width {
        width: 500px;
        display: flex;
        justify-content: center;
        overflow: hidden;
    }
}

.navigation__list {
    display: flex;
    align-items: center;
    margin: auto;

    padding: 8px 0;

    transition: var(--transition);
    will-change: transform;

    @include phone_width {
        width: 80vw;
        height: fit-content;
        max-height: 50vh;

        flex-direction: column;

        overflow-y: auto;
        overflow-x: hidden;
    }

    @include desktop_width {
        width: max-content;
        height: 50vh;
        max-height: 600px;

        justify-content: center;
        overflow: hidden;

        &.hovered {
            transform: translateX(-36px);
        }
    }
}

.navigation__list_wide {
    @include desktop_width {
        min-width: max-content;
        height: 50vh;
        max-height: 600px;

        justify-content: center;
        overflow: hidden;

        &.hovered {
            transform: translateX(-40px);
        }
    }
}

.show-all-button {
    $size: 50px;

    width: $size;
    height: $size;

    position: fixed;

    color: var(--main-color_light);
    border: 2px solid;

    @include phone_width {
        top: 10px;
        left: 10px;
    }

    @include desktop_width {
        top: 20px;
        left: 20px;
    }
}

.gallery__carousel-button {
    width: 100px;
    height: 30px;
    border: 1px solid black;
    position: absolute;
    bottom: 0;
    left: 0;
    &:nth-child(2) {
        left: 100px;
    }
}