@use '/src/scss/index.scss' as *;

.gallery__content-wrapper {
    left: 0;
    z-index: 0;

    display: flex;
    justify-content: center;
    
    width: 100%;

    padding: 72px 14px;

    @include desktop_width {
        bottom: 0;
        height: 100%;
        max-height: max-content;
    }

    @include phone_width {
        top: 0;
        height: max-content;
        padding-top: 14px;
    }
}