@use '/src/scss/index.scss' as *;

.gallery-navigation-skeleton {
    width: 100%;
    height: 100%;
    display: flex;

    @include phone_width {
        flex-flow: column;
        >div {
            width: 100%;
            height: 40px;
    
            background-color: #f3f3f3;
            background-image: linear-gradient(
                90deg, 
                rgba(#fff, 0), 
                rgba(#fff, 0.5),
                rgba(#fff, 0)
            );
    
            margin: 8px;
            border-radius: 8px;
        }
    }

    @include desktop_width {
        >div {
            width: 40px;
            height: 100%;
    
            background-color: #f3f3f3;
            background-image: linear-gradient(
                90deg, 
                rgba(#fff, 0), 
                rgba(#fff, 0.5),
                rgba(#fff, 0)
            );
    
            margin: 8px;
            border-radius: 8px;
            background-repeat: no-repeat;
            background-position: left -40px top 0;
    
            animation: skeleton-shine 1s ease infinite;
        }
    }
}