.main {
    $intro-height: 100vh;
    $waterfall-height: 460vh;

    position: relative;
    width: 100%;
    min-height: 100%;
    height: fit-content;

    overflow-y: auto;
    overflow-x: hidden;
    
    display: flex;
    flex-direction: column;
    
    @media (-webkit-transform-3d) and (prefers-reduced-motion: no-preference) {
        perspective: var(--index);
        transform-style: preserve-3d;

        >section { position: absolute; }

        >.intro {
            $distance: -.7;

            top: 0;
            z-index: 0;

            transform: 
                translateZ(calc(var(--index) * $distance))
                scale(abs($distance - 1))
            ;

            height: $intro-height !important;
        }

        >.waterfall {
            top: $intro-height;
            z-index: 1;

            height: $waterfall-height !important;
        }

        >.footer {
            top: calc($intro-height + $waterfall-height);
            height: 100vh;
        }
    }
}

.gallery { 
    position: relative;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100vw;
    height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
    /*want animation*/
}
