:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --index: calc(1vh + 1vw);

    --main-color_light: #fff;
    --additional-color_light: #2D8DFF;
    --fallback-color_light: #6C99E3;

    --main-color_dark: #1B1B1D;
    --additional-color_dark: #EF4C19;
    --fallback-color_dark: #0E0E12;

    --transition: .7s ease-in-out;
    --slow-transition: 1.4s ease-in-out;
}

html, body, #root {
    height: 100%;
}

* {
	padding: 0px;
	margin: 0px;
    box-sizing: border-box;
}

a {
    cursor: pointer;
    text-decoration: none;
}

body {
    min-width: 280px;
    min-height: 100vh;

    scroll-behavior: smooth;
    overscroll-behavior: contain;
}

img {
    font-style: italic;

    background-repeat: no-repeat;
    background-size: cover;

    max-width: 100%;
    height: auto;

    vertical-align: middle;
}

button {
    cursor: pointer;

    &:focus { outline: none; }
    &:focus-visible {
        outline: 2.5px solid white;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        color: var(--additional-color_light);
        background-color: var(--main-color_light);
    }
    button {
        background-color: #f9f9f9;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        color: var(--additional-color_dark);
        background-color: var(--main-color_dark);
    }
}
